body{
  margin:0;
  font-family: Inter, sans-serif;
  font-weight:1000;
  font-size:22px;
}

.velg{
  list-style:none;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color: rgb(217, 233, 220);
  color:rgb(57, 95, 74);
  height: 90px;;
  padding: 0px 300px;
  margin: 10px 20px 20px;
  

}
.velg >li {
  padding:1px;
  
}
.header{
  margin:0;
  display:flex;
  justify-content:space-between;
  align-self:center;
  background-color: rgb(244, 251, 246);;
  margin-right: 0px;
  padding-left: 500px;
  color:rgb(182, 199, 190);
  
}

.bilde{
  width:100px;
  height:100px;
  margin-right: 1px; ;
  padding:10px;
  align-items:center;
}
.vettakollenb> .stromsdammenb{
  padding:0px 300px

}
.hele{
  padding-left: 10px;;
  


}
.tekst{
  margin:0;
  font-family: Inter, sans-serif;
  font-weight:700;
  font-size:22px;
  color:rgb(102, 148, 122);

  
  
  
}

